= '\n'
//= Logo32x32 =

.logo32x32
    a.logo32x32__link(href='http://www.32x32.com.ua/')
        +icon('icon-32x32')
    span.logo32x32__text
        span Розробка
        |і підтримка
        br
        a(href='http://www.32x32.com.ua/') в компанії 32x32

//= End logo32x32 =
= '\n'
