= '\n'
//= Mobile menu =

.mobile-menu.hide-screen-min-1080
    #mobile-drop.mobile-menu__drop
        .mobile-menu__wrapper
            .mobile-menu__content
                .mobile-menu__content-section
                    include _menu
                .mobile-menu__content-section
                    a(href='javascript:void(0);') Login
                .mobile-menu__content-section
                    button.button(type='button') Get started


//= End mobile menu =
= '\n'
