= '\n'
//= Mobile-menu-btn =

.mobile-menu-btn.hide-screen-min-1080
    a.call-aside(href='javascript:void(0);' data-trigger='mobile-drop')
        +icon('icon-mobile-menu-button')
    a.close-aside(href='javascript:void(0);')
        +icon('icon-close')

//= End mobile-menu-btn =
= '\n'
