= '\n'
//= Header =

header.header

    .header__bottom
        .container
            include ../module/_mobile-menu-btn

            .header__logo
                include ../module/_logo
            .header__menu.hide-screen-max-1080
                include ../module/_menu

            .header__action.hide-screen-max-1080
                a.header__action-login(href='javascript:void(0);') Login
                button.button.button--transparent(type='button') Get started
//= End header =
= '\n'
