include ../mixin/_sprite-svg

-
    menuListItems = [
        {
            link: 'javascript:void(0);',
            name: 'Home',
        },
        {
            link: 'javascript:void(0);',
            name: 'Feature',
        },
        {
            link: 'javascript:void(0);',
            name: 'Services',
        },
        {
            link: 'javascript:void(0);',
            name: 'About us',
        },
    ]


    introItems = [
        {
            title: 'Define',
            text: 'Define your home need. Fundcup is a Wealth Container platform. It lets you set-up and deploy ' +
                    'complex legal entities such as Funds and SPVs in hours with a few clicks.',
        },
        {
            title: 'Strategy',
            text: 'Define your home need. Fundcup is a Wealth Container platform. It lets you set-up and deploy ' +
            'complex legal entities such as Funds and SPVs in hours with a few clicks.',
        },
        {
            title: 'Build',
            text: 'Define your home need. Fundcup is a Wealth Container platform. It lets you set-up and deploy ' +
                    'complex legal entities such as Funds and SPVs in hours with a few clicks.',
        },
    ]

