.icon-0 {
  width: 200px;
  height: 200px;
  fill: initial;
  stroke: initial;
}
.icon-1 {
  width: 200px;
  height: 200px;
  fill: initial;
  stroke: initial;
}
.icon-2 {
  width: 200px;
  height: 200px;
  fill: initial;
  stroke: initial;
}
.icon-arrow {
  width: 16px;
  height: 16px;
  fill: initial;
  stroke: #575755;
}
.icon-cart {
  width: 24px;
  height: 24px;
  fill: initial;
  stroke: #fff;
}
.icon-close-set {
  width: 16px;
  height: 16px;
  fill: initial;
  stroke: #399EFE;
}
.icon-close {
  width: 33px;
  height: 33px;
  fill: initial;
  stroke: #fff;
}
.icon-mobile-menu-button {
  width: 32px;
  height: 32px;
  fill: initial;
  stroke: #fff;
}
.icon-search {
  width: 33px;
  height: 33px;
  fill: initial;
  stroke: #575755;
}
.icon-slider-arrow {
  width: 16px;
  height: 16px;
  fill: initial;
  stroke: #575755;
}
.icon-user {
  width: 24px;
  height: 24px;
  fill: initial;
  stroke: #575755;
}
